:root {
    --color-amarillo: #ECD078;
    --color-naranja: #D95B43;
    --color-rojo: #C02942;
    --fuente-titulo: Arial;
}

h1 {
    color: var(--color-naranja);
    border: 2px solid var(--color-naranja);
    font-family: var(--fuente-titulo);}

